<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>xxx.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.xxx</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>xxx.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>xxx</string>
	<key>GCM_SENDER_ID</key>
	<string>xxx</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xxx.app</string>
	<key>PROJECT_ID</key>
	<string>apps-xxx</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-xxx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>xxx</string>
	<key>DATABASE_URL</key>
	<string>https://apps-xxx.firebaseio.com</string>
</dict>
</plist>